/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fcffe7;
}

header {
  background-color: #2b3467;
  color: #bad7e9;
  text-align: center;
  padding: 1rem;
}

main {
  align-items: center;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 2rem;
}

h2 {
  margin-bottom: 0.5rem;
  color: #2b3467;
}

/* Sections */
section {
  margin-bottom: 2rem;
}

/* Game mode and play mode */
select,
input[type="radio"],
label {
  margin-right: 1rem;
}

/* Choices section */
#choices-section select {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}

/* Buttons */
button {
  background-color: #2b3467;
  color: #bad7e9;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
}

button:hover {
  background-color: #eb455f;
  color: #fcffe7;
}

/* Results section */
#results-section {
  background-color: #bad7e9;
  padding: 1rem;
  color: #2b3467;
}

/* Scoreboard */
table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #2b3467;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #2b3467;
  color: #bad7e9;
}

/* Rules section */
a {
  color: #eb455f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
